-@comments.each do |comment|
  .row.comment-row
    .comment-holder
      = link_to bird_path(comment.bird_id) do
        %p.row-comment= short_comment_text(comment, 90)
    .comment-time-container{:class => ('without-delete' unless @user.id == current_user.id)}
      = date_format(comment.created_at)
    -if @user.id == current_user.id
      .delete-comment-container
        =link_to '', '#', class: 'delete-comment-lnk', data: {id: comment.id}
