.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Куда обратиться за первой помощью
          %p
            Профессиональную помощь раненым птицам оказывает Питомник по содержанию и передержке диких птиц с последующим выпуском в естественную среду обитания, зарегистрированный в Государственном комитете по экологии и охране окружающей среды который занимается реабилитацией пернатых с 2012 года.
          %p
            Наши контакты:
            %i
              Павел +998974095240.
            %br
            %br
          %p
            = image_tag 'swift/kuda-obratitsya.jpg'
          %p
            Ежесезонное спасение стрижей и других птиц – это добровольное обязательство, которое владелец Питомника взял на себя после того, как сам впервые нашел на земле стрижа и не смог отыскать кого-то, кто бы ему помог.
          %p
            В связи с этим Питомник просит адекватного отношения к следующим условиям приема птиц:
            %ul
              %li
                Прием птиц осуществляется в будние дни с 9.00 до 18.00 по адресу Питомника: Кибрайский район, Тузель, СВТ «Водий», дом 8. Будьте готовы услышать честный диагноз и прогноз относительно привезенной птицы. Доставка птицы до места назначения не означает, что она выживет.
              %li
                Мы не принимаем на передержку майн, сорок, горлиц, голубей, ворон, грачей и прочие городские виды в связи с высоким уровнем их социализации, т.к. наша цель – это реабилитация и выпуск птиц в естественную среду, а не содержание приюта. Однако по перечисленным видам мы готовы предоставить Вам исчерпывающую информацию по правилам выкармливания.
          %br
          %p
            %i
              Ссылки по теме:
              %ul
                %li= link_to 'Памятка оказания первой помощи диким птицам', first_aid_swift_path
                %li= link_to 'Установи домик для стрижа у себя дома!', nesting_box_swift_path
