.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Куда обратиться за первой помощью
          %p
            Нас зовут Елена и Павел, с весны 2012 года мы занимаемся посильным спасением черных стрижей и других птиц в Ташкенте.
          %p
            = image_tag 'swift/kuda-obratitsya.jpg'
          %p
            В настоящее время свою деятельность мы осуществляем в рамках зарегистрированного в Государственном комитете по охране природы
            %b
              %i
                «Питомника по содержанию и передержке птиц с последующим выпуском в естественную среду обитания».
          %p
            Однако при этом Елена продолжает работать в государственной организации, каждый день, с 9 утра до 6 вечера, и эта организация не имеет никакого отношения к птицам. Ежесезонное спасение стрижей и других птиц – это добровольное обязательство, которое мы взяли на себя после того, как сами впервые нашли на земле стрижа и не смогли отыскать кого-то, кто бы ему помог.
          %p
            В связи с этим мы очень просим адекватного отношения к следующим условиям приема птиц:
            %ul
              %li
                Прием птиц осуществляется только в будние дни с 9.00 до 18.00 по нашему рабочему адресу. Мы не имеем возможности выезжать за каждой птицей, и у нас нет волонтеров, которые бы привозили нам птиц. Будьте ответственны до конца! Если вы не прошли мимо, подобрали птицу – довезите ее до нас, это все, что нужно.
              %li
                Будьте готовы услышать честный диагноз и прогноз относительно привезенной птицы. Доставка птицы до места назначения не означает, что она выживет.
              %li
                Мы
                %b
                  не принимаем на передержку майн, сорок, горлиц, голубей, ворон, грачей и прочие городские виды
                в связи с высоким уровнем их социализации, т.к. наша цель – это реабилитация и выпуск птиц в естественную среду, а не содержание приюта. Однако по перечисленным видам мы готовы предоставить Вам исчерпывающую информацию по правилам выкармливания и необходимый корм.
          %p
            Наши контакты:
            %b
              %i
                %ul
                  %li
                    +99890 323-43-26 Павел
          %br
          %p
            %i
              Ссылки по теме:
              %ul
                %li= link_to 'Памятка оказания первой помощи диким птицам', first_aid_swift_path
                %li= link_to 'Установи домик для стрижа у себя дома!', nesting_box_swift_path
