.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h3 Памятка оказания первой помощи диким птицам
          %p
            = image_tag 'swift/chto-delat-esli-nashli.jpg'
          %h4 Что делать, если вы нашли птицу?
          %p
            1) Аккуратно поднимите птицу, обернув ее бумажной салфеткой, чистым носовым платком или полотенцем.
          %p
            2) Поместите птицу в чистое, теплое, темное и, по возможности, тихое место. Идеально подходит любая картонная коробка, выстланная чистым полотенцем или сухими салфетками. Размер коробки должен соответствовать размеру найденной птицы – птица должна иметь возможность свободно в ней поворачиваться. В коробке следует проделать небольшие отверстия, чтобы обеспечить птицу воздухом.
          %p
            3) Дайте теплой подслащенной кипяченой воды (1 чайная ложка сахара на стакан) или 5% раствор Глюкозы со шприца
            %b
              без иглы
            или с пипетки, капая по одной капле на клюв.
          %h4 Чего нельзя делать, если вы нашли птицу?
          %p
            1)
            %b
              Ни в коем случае не подбрасывайте птицу в воздух.
            Если вы нашли на земле любую птицу, это значит, что она уже имеет повреждения, несовместимые с полетом, или это птенец, выпавший из гнезда. Подбрасывая ее, вы нанесете ей еще больше увечий!
          %p
            2)
            %b
              Нельзя сажать подобранных птиц в клетку.
            Находясь в состоянии шока, раненная или напуганная птица может повредить себе не только оперение, но и получить серьезные травмы, пытаясь пролезть сквозь прутья. И тогда спасти ее уже не удастся!
          %p
            3)
            %b
              Не прикасайтесь без надобности к оперению руками.
            Все птицы покрывают свои перышки специальным защитным слоем, предохраняющим их от намокания и разрушения. Касаясь птицы руками, вы стираете эту защитную оболочку.
          %p
            4)
            %b
              Никогда не пытайтесь самостоятельно открывать клюв или кормить найденную птицу. Помните, кормление не является первой помощью, которая жизненно необходима птице.
            Попытки кормления любой птицы могут привести к смертельным последствиям. Единственный допустимый вариант – положить в коробку с птицей небольшое блюдечко с подходящим данному виду кормом. Если птица захочет – она сама поест. Никогда кормление не должно быть принудительным, ведь сломанный клюв – это невозможность питаться и смертельный приговор для птицы.
          %br
          %p
            %i
              Ссылки по теме:
              %ul
                %li= link_to 'Куда обратиться за помощью?', about_swift_path
