.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Установи домик для стрижа у себя дома!
          %p
            Наконец-то у нас с вами появилась возможность помочь городским птицам, а именно черным стрижам, благодаря безвозмездной помощи, оказанной нам девелоперской компанией Murad Building. Компания Murad Building изготовила и передала «Питомнику по содержанию и передержке птиц с последующим выпуском в естественную среду обитания»
            %b
              100 стрижатников, которые мы с вашей помощью и при непосредственном участии хотели бы разместить в местах, пригодных для гнездования этих милых птиц.
          %p
            = image_tag 'swift/domiki-strijey.jpg'
          %p
            Стрижи, как и многие другие птицы, приспособились жить рядом с человеком, и выбирают для своих гнезд щели и отверстия городских зданий, отдавая предпочтение высоким и открытым местам. Однако в условиях современного города, когда старые дома реконструируются, а новостройки облицовываются синтетическими материалами, у стрижей остается все меньше и меньше мест для гнездований.
          %p
            = image_tag 'swift/schema.png', style: 'width:700px;'
          %p
            Но каждый из нас в силах поддержать баланс между техническим прогрессом и живой природой, приняв участие в установке домиков для стрижей! Стрижи – красивые, дружелюбные и безопасные соседи, поедающие мошек и комаров и являющиеся естественными конкурентами майн за места гнездования. Всем желающим просьба ознакомиться с приведенной ниже схемой установки стрижатников.
          %p
            Наши контакты:
            %i
              +99897 409 52 40 Павел

          %br
          %p
            %i
              Ссылки по теме:
              %ul
                %li= link_to 'Памятка оказания первой помощи диким птицам', first_aid_swift_path
                %li= link_to 'Куда обратиться за помощью?', about_swift_path
