- comment = bird.comments.order(created_at: :desc).first
-if comment.present?
  .comment-text
    = author_comment_text(comment, PagesController::COMMENT_MAX_LENGTH)
    -if comment.text.size > PagesController::COMMENT_MAX_LENGTH
      =link_to '...', bird_path(bird)
