.big-day-contest {
  image {
    padding: 20px;
  }
  .pre-text {
    text-align: center;
    font-size: 12px;
  }
}

.big-day-tashkent-contest {
  .collins {
    padding-left: 222px;
    padding-bottom: 20px;
  }
}
