.big-day-contest {
  image {
    padding: 20px;
  }
  .pre-text {
    text-align: center;
    font-size: 12px;
  }
}

.big-day-tashkent-contest {
  .collins {
    padding-left: 255px;
    padding-bottom: 10px;
  }
  .bird_of_ca {
    padding-left: 155px;
    padding-bottom: 10px;
  }
}
