.profile-container {
  .sub-nav-pils {
    a {
      display:inline-block;
      color:#94846e;
      padding-bottom:17px;
      cursor:pointer;
      font-size:19px;
      margin-right:5px;
    }
    a .menu-title {
      padding:10px 20px;
      display:block;
    }
    a.active, a:hover {
      color:#4d4d4d;
      background: asset-data-url('share/bg_arrow_down.png') no-repeat bottom 0 right 50%;
      text-decoration:none !important;
    }
    a.active .menu-title, a:hover .menu-title {
      background:#f7f7ed;
    }
  }

  .profile-info-block {
    a {
      font-size: 14px;
    }
    .col-md-4 {
      padding-left:0 !important;
    }
    .col-md-8{
      padding-left:15px !important;
    }
    input[type="text"], input[type="email"], input[type="password"] {
      color: #94846e;
      height: 30px;
    }
    label {
      line-height: 30px;
    }
    .input-group{
      border-bottom: 1px solid #9d9e98;
      margin-left: 20px;
    }
    #subscribe_data label {
      line-height: 16px;
    }
    .change-image {
      font-size:14px;
      margin-top:10px;
      cursor:pointer;
    }
    .profile-user-data {
      padding:0 !important;
      img{
        margin-right:15px;
      }
    }
    .profile-stat-data {
      height:79px;
      padding-top:20px !important;
      p {
        color:#94846e;
        font-size:14px;
      }
      a {
        color:#90b444;
        text-decoration:underline;
      }
      a:hover {
        color:#90b444;
        text-decoration:none;
      }
    }
    .profile-user-icons {
      padding: 12px 0 0 20px !important;
      img {
        margin: 8px
      }
    }
  }

  .profile-species-block li a {
    font-size: 14px;
  }

  .blocks-content .profile-block-container {
    display:none;
    &.active-block {
      display: block;
    }
    label {
      font-weight: normal;
    }
    .birds-pagination {
      padding-right: 76px;
    }
  }

  span.req {
    font-size: 13.5px;
    font-weight: 500;
    margin-top:-3px;
    margin-left:5px;
    position:absolute;
  }

  .pagination-block {
    float: right;
  }

  .profile-comments-block {
    padding-right:40px;

    p.row-comment {
      line-height:12px;
    }
    .comment-holder {
      max-width:75%;
    }
    .comment-time-container {
      font-size:12px;
      line-height:12px;
      position:absolute;
      right:35px;
      color: #94846e;
      &.without-delete{
        right:12px;
      }
    }
    .comments-container {
      .delete-comment-container {
        top:0 !important;
      }
      .comment-row {
        height: 30px;
        border-bottom: 1px solid #e5e5da;
        margin-top:6px;
        margin-bottom:6px;
        padding-top: 5px;
      }
      .delete-comment-container {
        position:absolute;
        right:0;
        top: 15px
      }
    }
  }

  .profile-birds-block, .profile-drafts-block {
    a.delete_user_bird {
      position:absolute;
      display: block;
      left:76%;
      top:33%;
      width: 24px;
      height: 19px;
      background:asset-data-url('share/edit/delete_icon.png') no-repeat;
      opacity: 0.8;
      cursor:pointer;
    }
    a.delete_user_bird:hover {
      background:asset-data-url('share/edit/delete_icon_hover.png') no-repeat;
      opacity: 1;
    }

    a.edit_user_bird {
      position:absolute;
      display: block;
      left:76%;
      top:87.5%;
      width: 24px;
      height: 19px;
      background:asset-data-url('share/edit/edit-pen.png') no-repeat;
      opacity: 0.8;
      cursor:pointer;
    }
    a.edit_user_bird:hover {
      background:asset-data-url('share/edit/edit-pen-hover.png') no-repeat;
      opacity: 1;
    }
  }
}
