.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Лучшая фотография птицы Узбекистана
          %p
            Для нашего сайта фотография птицы является основным инструментом. Какую информацию может предоставить фотография, помимо самого изображения птицы? Да, самую разнообразную: характерные элементы поведения, местообитания, питания, угрозы и многое другое. Из этих моментов-фактов, которые может запечатлеть любой бердвотчер, впоследствии специалисты могут собрать представление об экологии вида.
          %p
            Но есть фотографии, которые, помимо практического значения, несут в себе и эстетическую составляющую. Ту самую, которую мы испытываем при наблюдении птицы в природе, но которую подчас так сложно зафиксировать на фотографии. Именно для таких фотографий, вдохновляющих начинающих любителей птиц, и был организован наш конкурс «Лучшая фотография птицы Узбекистана».
          %p
            На конкурс было прислано 228 фотографий птиц Узбекистана. 15 декабря все снимки были вывешены в facebook на открытое голосование, которое продолжалось до 31 декабря. Сразу после окончания, 22 фотографии (3 последние имели одинаковое количество голосов) были переданы 7 членам жюри:
            %ul
              %li
                Проф. Олег Митропольский – Председатель Общества охраны птиц Узбекистана
              %li
                К.б.н. Роман Кашкаров – Исполнительный директор Общества охраны птиц Узбекистана
              %li
                Олег Белялов – орнитолог, профессиональный фотограф-анималист
              %li
                Андрей Коваленко – орнитолог, сотрудник Института зоологии АН Республики Казахстан
              %li
                Василий Федоренко – бердвотчер, фотограф-анималист
              %li
                Алексей Улько – культуролог, арт-критик
              %li
                Асиф Хан – бердвотчер, фотограф-анималист
          %p
            9 января были подведены итоги голосования жюри, в результате которого была выбрана лучшая фотография птицы.
          %p
            = image_tag 'contests/big_year_2015/best_photo.jpg'
          %p
            Мы поздравляем Бориса Недосекова с этой победой!
          %p
            = image_tag 'contests/big_year_2015/best_photo_winner.jpg'

        .row{style: 'color: #94846e;'}
          %i.pre-text Команда Birds.uz

