.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Лучшая фотография птицы Узбекистана
          %p
            %i.pre-text
              Дорогие фотографы, любители птиц и любители фотографировать птиц!
          %p
            Если вы согласны с нами в том, что природа Узбекистана богата и красива, нуждается в уважении и бережном использовании, значит, вас заинтересует наш проект и конкурс.
          %p
            Верим в то, что фотографирование птиц является лучшей альтернативой охоте на них, что путешествовать по нашей стране интересно, а наблюдение за птицами не только укрепит здоровье, но и познакомит с новыми интересными людьми и с природой Узбекистана. Именно поэтому мы проводим конкурс «Лучшая фотография птицы Узбекистана».
          %p
            Принять участие в конкурсе могут все желающие.
          %p
            Правила конкурса:
            %ul
              %li
                Заполнить
                =link_to 'анкету', best_photo_file_contest_path
                и выслать её вместе с фотографией на почту
                =mail_to '2015birds.uz@gmail.com', '2015birds.uz@gmail.com'
                %br
                (фотография должна быть в формате JPEG, размером не более 5 Mb).
              %li
                =link_to 'Зарегистрироваться', new_user_registration_path
                на сайте Birds.uz и
                =link_to 'загрузить', new_bird_path
                свою фотографию на сайт.
              %li
                Принимаются фотографии только диких птиц.
              %li
                Фотография должна быть сделана на территории Узбекистана.
              %li
                Фотография птицы должна быть сделана на природе в условиях естественной свободы. На конкурс не принимаются фотографии мертвых, раненых или содержащихся в неволе птиц.
              %li
                Срок приема заявок до 15 декабря 2015 года.
          %p
            После сбора всех заявок, фотографии, которые соответствуют критериям конкурса, будут вывешены в
            =link_to 'Facebook', 'https://www.facebook.com/media/set/?set=oa.1034645313259195', target: '_blank'
            для общего голосования с 15 по 31 декабря.
          %p
            20 лучших фотографий оценит профессиональное жюри из фотографов анималистов Узбекистана и Казахстана, ведущих орнитологов Узбекистана.
          %p
            Итоги конкурса будут объявлены 13 января 2016 года. Автор лучшей фотографии получит хард-диск Transcend 2Tb.
          %p
            Фотографии конкурса могут быть использованы в некоммерческих целях для развития нашего сайта с обязательным указанием авторства.
        .row.acenter.mbtm20.fb-link
          = link_to 'Проголосовать за лучшее фото', 'https://www.facebook.com/media/set/?set=oa.1034645313259195', class: 'btn btn-success btn-xlg sm-width-max', target: '_blank'
        .row{style: 'color: #94846e;'}
          %i.pre-text Команда Birds.uz

