.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Результаты Большого Года 2015!
          %p
            Вот и прошел второй орнитологический Большой Год 2015. Он принёс в копилку сайта 298 видов птиц (
            = succeed ' ):' do
              = link_to 'полный список видов птиц за 2015 год', big_year_species_contest_path
          %p
            = image_tag 'contests/big_year_2015/big_year/collage.jpg', style: 'width: 700px;'
          %p
            В погоне за которыми участники забрались в самые разнообразные уголки нашей страны:
          %p
            = image_tag 'contests/big_year_2015/big_year/map.png', style: 'width: 700px;'
          %p
            Последние дни Большого года были захватывающими и незабываемыми, благодаря 4 лидерам: Марии Грицына, Денису Нуриджанову, Тимуру Абдураупову и Валентину Солдатову. Лидерство переходило из рук в руки… болельщики метались...
          %p
            В итоге Тимур зафиксировал 237 видов птиц и победил! Стоит отметить, что Тимур Абдураупов стал победителем уже второй год подряд:              “Для меня 2015-й стал действительно Большим Годом – много птиц и интересных поездок, много видов, которых я либо видел в первый раз в жизни, либо впервые смог заснять на фотоаппарат, много эмоций. Наиболее запоминающимися встречами для меня были: вертишейка – прыгал до потолка, когда я ее заметил на фотографии, вернувшись из поездки; саксаульный воробей – первая встреча в жизни; тетеревятник – первая фотография, пусть и не в лучшем виде, но моя, первая, за несколько часов до Нового Года, т.е. конца Большого Года. Спасибо участникам, что не давали расслабиться, я даже как-то перестал надеяться на первое место. Спасибо также создателям сайта Birds.uz, это просто находка как для бердвотчеров, так и для студентов, преподавателей и орнитологов. С Новым Большим годом!”
          %p
            Со второй половины года количество пользователей сайта увеличилось до 100, и мы надеемся, что большинство из них примет участие в новом Большом Годе 2016! Все что нужно сделать – это зарегистрироваться на сайте, взять фотоаппарат и вперед за птицей!
          %p
            Награждение победителя Большого Года пройдет в зале Института генофонда растительного и животного мира Академии наук Узбекистана (ориентир Ботанический сад ) 13 января в 13:00. В этот день мы подводим итоги по другим конкурсам. Приглашаем всех желающих.
          %p
            Счастливого Нового Большого года!!!
          %p
            %i.pre-text Команда Birds.uz

