.bg-btm-container.big-day-photo-contest
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 ФОТО Большой День
          %p
            Полный список видов:
          %p
            1. Малая поганка (Tachybaptus ruficollis)
            %br
            2. Большой баклан (Phalacrocorax carbo)
            %br
            3. Малый баклан (Phalacrocorax pygmaeus)
            %br
            4. Большая белая цапля (Egretta alba)
            %br
            5. Кваква (Nycticorax nycticorax)
            %br
            6. Серая цапля (Ardea cinerea)
            %br
            7. Белый аист (Ciconia ciconia)
            %br
            8. Серый гусь (Anser anser)
            %br
            9. Кряква (Anas platyrhynchos)
            %br
            10. Чирок-свистунок (Anas crecca)
            %br
            11. Чирок-трескунок (Anas querquedula)
            %br
            12. Скопа (Pandion haliaetus)
            %br
            13. Чёрный коршун (Milvus migrans)
            %br
            14. Полевой лунь  (Circus cyaneus )
            %br
            15. Болотный лунь (Circus aeruginosus )
            %br
            16. Перепелятник (Accipiter nisus )
            %br
            17. Мохноногий курганник (Buteo hemilasius)
            %br
            18. Канюк (Buteo buteo )
            %br
            19. Восточный канюк (Buteo japonicus )
            %br
            20. Орлан-белохвост (Haliaeetus albicilla)
            %br
            21. Чёрный гриф (Aegypius monachus)
            %br
            22. Обыкновенный фазан (Phasianus colchicus)
            %br
            23. Водяной пастушок (Rallus aquaticus)
            %br
            24. Камышница (Gallinula chloropus)
            %br
            25. Лысуха (Fulica atra)
            %br
            26. Черныш (Tringa ochropus)
            %br
            27. Фифи (Tringa glareola)
            %br
            28. Большой улит (Tringa nebularia )
            %br
            29. Гаршнеп (Lymnocryptes minimus)
            %br
            30. Обыкновенный бекас (Gallinago gallinago)
            %br
            31. Черноголовый хохотун (Larus ichthyaetus)
            %br
            32. Озерная чайка (Larus ridibundus)
            %br
            33. Хохотунья (Larus cachinnans)
            %br
            34. Вяхирь (Columba palumbus)
            %br
            35. Сизый голубь (Columba livia )
            %br
            36. Кольчатая горлица (Streptopelia decaocto)
            %br
            37. Малая горлица (Streptopelia senegalensis)
            %br
            38. Ушастая сова (Asio otus )
            %br
            39. Обыкновенный зимородок (Alcedo atthis)
            %br
            40. Белокрылый дятел (Dendrocopos leucopterus)
            %br
            41. Горный конек (Anthus spinoletta )
            %br
            42. Серый сорокопут (Lanius excubitor)
            %br
            43. Обыкновенный скворец (Sturnus vulgaris)
            %br
            44. Розовый скворец (Sturnus roseus)
            %br
            45. Обыкновенная майна (Acridotheres tristis)
            %br
            46. Сорока (Pica pica)
            %br
            47. Грач (Corvus frugilegus)
            %br
            48. Черная ворона (Corvus corone)
            %br
            49. Серая ворона (Corvus cornix)
            %br
            50. Крапивник (Troglodytes troglodytes)
            %br
            51. Соловьиная широкохвостка (Cettia cetti )
            %br
            52. Желтоголовый королек (Regulus regulus)
            %br
            53. Красноспинная горихвостка (Phoenicurus erythronotus)
            %br
            54. Чернозобый дрозд (Turdus atrogularis)
            %br
            55. Рябинник (Turdus pilaris) 
            %br
            56. Чёрный дрозд (Turdus merula)
            %br
            57. Усатая синица (Panurus biarmicus)
            %br
            58. Обыкновенный ремез (Remiz pendulinus)
            %br
            59. Желтогрудая лазоревка (Parus flavipectus) 
            %br
            60. Бухарская синица (Parus bokharensis)
            %br
            61. Полевой воробей (Passer montanus)
            %br
            62. Зяблик (Fringilla coelebs)
            %br
            63. Юрок (Fringilla montifringilla)
            %br
            64. Обыкновенный дубонос (Coccothraustes coccothraustes) 
            %br
            65. Коноплянка (Acanthis cannabina)
            %br
            66. Обыкновенная овсянка (Emberiza citrinella)
            %br
            67. Белошапочная овсянка (Emberiza leucocephalos) 
            %br
            68. Камышовая овсянка (Schoeniclus schoeniclus)

          %p
            =link_to "Вернуться к 'Фото Большой День'", big_day_photo_contest_path
