.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Соревнование по фотобердингу «ФОТО Большой День» 6 декабря 2015
          %p
            Дорогие друзья!
          %p
            Мы объявляем о проведении 6 декабря соревнования «ФОТО Большой День». В этом индивидуальном соревновании может принять участие любой желающий, любого возраста. У нас нет ограничений и по месту фотографирования - играть можно в любой точке Узбекистана.
          %p
            Победитель этого мероприятия получит приз – бинокль.
          %p
            ДЛЯ УЧАСТИЯ ВАМ НУЖНО:
            %ul
              %li
                Шаг 1. Ознакомиться с
                =link_to 'правилами', big_day_photo_rules_contest_path
                и заполнить
                = succeed ', ' do
                  =link_to 'анкету', big_day_photo_form_contest_path
                которую нужно отправить до 4 декабря  на адрес
                =mail_to '2015birds.uz@gmail.com', '2015birds.uz@gmail.com'
              %li
                Шаг 2. Сфотографировать
                %b
                  c 00:00 по 23:59 6 декабря
                как можно большее количество видов птиц в любой точке Узбекистана.
              %li
                Шаг 3. Загрузить фотографии на сайт Birds.uz
                %b
                  до 18:00 7 декабря.

          %p
            Мы советуем вам предварительно
            = link_to 'зарегистрироваться', new_user_registration_path
            на нашем сайте и попробовать его в работе.
          %p
            Для участия вам не обязательно знать вид птиц. Если вы не можете определить вид, наши эксперты помогут вам это сделать.
          %p
            Итоги конкурса будут подведены 11 декабря 2015.
          %p
            Если у вас возникли вопросы, посмотрите страницу с
            = link_to 'помощью', help_pages_path
            или звоните по телефонам
            %br
            +99890 3546963 (Рустам), +99893 3383966 (Мария),
            %br
            +99890 1860743 (Динара), +99894 6386113 (Аня).
          %p
            До скорой встречи на сайте!
          %p
            %i.pre-text Команда Birds.uz

