.bg-btm-container.big-day-tashkent-contest
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой День в Ташкенте, 15 ноября 2015
          %p
            Если вы любите природу, походы, да и просто прогулки по свежему воздуху, то вам наверняка должно понравиться наблюдение за птицами или бердвотчинг. Хотите стать бердвотчером, но не знаете с чего начать? Примите участие в соревновании бердвотчеров «Большой День», которое пройдет 15 ноября в Ташкенте.
          %p
            Любой желающий может создать команду, отправив до 11 ноября заявку на адрес
            =mail_to '2015birds.uz@gmail.com', '2015birds.uz@gmail.com.'
            К каждой команде будет прикреплен эксперт, который будет помогать определять птиц, делиться навыками и опытом. Команда, нашедшая и определившая наибольшее количество диких видов птиц в пределах Ташкента в течение дня, и станет победителем.
          %p
            Победители получат один из самых нужных инструментов для бердвотчинга – определитель птиц. А именно Collins Bird Guide, который поможет любому новичку сделать первые уверенные шаги в определении птиц.
          %p.collins
            = image_tag 'contests/collins.JPG', style: 'width: 214px'
          %p
            В каждой команде могут участвовать от 3 до 4 человек. Собирайте свою команду, и присоединяйтесь к игре. Если же у вас команды нет, то сообщите по адресу
            =mail_to '2015birds.uz@gmail.com', '2015birds.uz@gmail.com'
            , и мы поможем вам.
          %p
            В заявке нужно указать название команды, имя, контактный телефон и e-mail всех членов команды. Спешите, количество команд ограничено. В игре примут участие только первые 8 зарегистрированных команд.
          %p
            Если у вас есть вопросы, пишите нам на
            =mail_to '2015birds.uz@gmail.com', '2015birds.uz@gmail.com'
            или звоните по телефону
            %br
            +99894-6386113 (Аня), +998 90 354-69-63 (Рустам).
          %p
            %i.pre-text Команда Birds.uz

