.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой день
          %p
            %i.pre-text
              Приглашаем любителей птиц принять участие в соревновании, которое пройдет
              %br
              3 октября 2015 года в Экоцентре «Джейран» (Бухарская область).
          %p
            «Большой День» приурочен ко дню «Осенних наблюдений за птицами», который проводится во многих странах в первые выходные октября. В эти дни бёрдвотчеры наблюдают птиц в самых разных уголках мира с основной целью, собрать как можно больше информации о пролёте и самых значимых местах остановок птиц на миграции, помогая тем самым охране мигрирующих птиц.
          %p
            Что такое «Большой День»? Это маленькая версия известного вам
            =link_to '«Большого Года».', big_year_pages_path
            Принцип тот же, увидеть как можно больше птиц, но всего за один день. Играть будем в командах, лучшая получит призы - самые необходимые предметы для наблюдения за птицами: бинокль и определители.
          %p
            Чтобы принять участие, вам нужно
            %ul
              %li
                зарегистрироваться на мероприятии,
              %li
                приехать в
                =link_to 'Экоцентр', 'http://ecocenter.uz'
                ,
              %li
                и собрать команду!
          %p
            Если вы никогда в жизни не наблюдали за птицами, не переживайте. Заранее в Экоцентре будет проведен небольшой обучающий тренинг «Как наблюдать за птицами».
          %p
            В эти дни со 2 по 4 октября в Экоцентре соберется большое количество неравнодушных к природе людей для помощи в учете животных. Детальная информация об участии в учете
            =link_to 'на сайте экоцентра "Джейран".', 'http://ecocenter.uz'

          %p
            %i.pre-text Команда Birds.uz

