.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Кто же стал лучшим другом сайта Birds.uz?
          %p
            = image_tag 'contests/big_year_2015/best_friend.jpg'
          %p
            Этот человек -  самый добрый любитель птиц Узбекистана. Он внес кардинальные правки в концепцию сайта, постоянная поддержка действий команды и советы позволили сделать работу сайта лучше, а изумительные фотографии украсили очерки по птицам. Он постоянно поддерживает начинающих бёрдвотчеров, поэтому мы искренне рады, что именно он получил большинство голосов.
          %p
            Итак, лучшим другом нашего сайта стал Асиф Хан!!! Спасибо тебе, Асиф!
          %p
            Но это не все. Пользователи голосовали также за Андрея Коваленко, Василия Федоренко, Викторию Рзаеву, Тимура Абдураупова, Рустама Мурзаханова и Марию Грицына. Дорогие друзья, спасибо вам за поддержку и помощь!
          %p
            Награждение победителя пройдет в зале Института генофонда растительного и животного мира Академии наук Узбекистана (ориентир Ботанический сад)
            %b
              13 января в 13:00.
            В этот день мы подводим итоги по другим конкурсам. Приглашаем всех желающих.
          %p
            Надеемся, что в новом 2016 у сайта будет еще больше друзей и наставников!
          %p
            %i.pre-text Команда Birds.uz

