.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Лучший друг Birds.uz
          %p
            Наш сайт на 90% существует благодаря специалистам, которые бескорыстно помогают определять виды птиц  и работают с пользователями сайта.
          %p
            Конкурс «Лучший друг Birds.uz» является нашим способом отметить важность работы всех друзей сайта для развития бёрдвотчинга в Узбекистане  и поблагодарить лучшего из них!
          %p
            Дорогие пользователи Birds.uz, проголосуйте за лучшего, по вашему мнению, друга нашего сайта и отправьте заявки с указанием имени  по адресу
            =mail_to '2015birds.uz@gmail.com', '2015birds.uz@gmail.com'
            до 31 декабря 2015 г.
          %p
            %i.pre-text Команда Birds.uz

