.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Прошло
          %p
            В целях развития бердвотчинга в Узбекистане наша команда провела серию мероприятий:
          %p
            %li= link_to 'Большой день в Ташкенте', big_day_in_tashkent_contest_path
            %li= link_to 'Большой день в Экоцентре', big_day_in_ecocenter_contest_path
          %p
            %i.pre-text Команда Birds.uz
