.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Международный День куликов
          %p
            Дорогие друзья!
          %p
            Приближается 3-й Международный День куликов, в рамках которого пройдут учеты этих интереснейших птиц (Global Shorebird Counting). В течение этой недели со 2 по 6 сентября 2016 бердвотчеры будут считать куликов по всему миру.
          %p
            Присоединиться к этому учету можно зарегистрировавшись на сайте
            = link_to 'globalshorebirdcounting', 'https://worldshorebirdsday.wordpress.com/globalshorebirdcounting/'
          %p
            Мы участвуем, а вы?
          %p
            %i.pre-text Команда Birds.uz

