.col-sm-6.col-md-2.map-img-block.xs-align-center.img-container-blck
  .head
    .blck.map-tag
      %i= index
    .blck= bird.address_string
  .body
    =link_to bird_path(bird) do
      =image_tag bird.photo.thumb.url, class: 'img-responsive'
  .foot
    .blck
      = link_to bird.user.full_name.slice(0, 22), profile_path(bird.user)
      %p= date_format(bird.timestamp)
