.posters.banner
  .row.container
    .col.col-md-6
      %ul.banner-menu
        %li
          %p Участвуй
        %li= link_to 'Большой год 2019', prises_big_year_path
        %li= link_to 'Памятка оказания первой помощи диким птицам', first_aid_swift_path
        %li= link_to 'Куда обратиться за помощью?', about_swift_path
    .col.col-md-6
      .banner-image= image_tag 'banners/bg_banner.jpg'
