.posters.banner
  .row.container
    .col.col-md-6
      %ul.banner-menu
        %li
          %p Реабилитация диких птиц
        %li= link_to 'Памятка оказания первой помощи диким птицам', first_aid_swift_path
        %li= link_to 'Куда обратиться за помощью?', about_swift_path
    .col.col-md-6
      .banner-image= image_tag 'banners/swift-bird.jpg'
