.footer
  = render 'shared/nav_add_photo'
  .footer-inner
    .container
      .fleft
        %p
          =link_to root_path do
            =image_tag "navbar/bird_white.png", :align => "left"
          Все права на опубликованные на сайте материалы принадлежат их авторам
          %br
            =link_to 'Birds.uz', root_path
            &copy;
            =Time.zone.now.year
      .fright
        %p.aright
          =link_to 'О проекте', about_pages_path
          %br
            =mail_to 'khalex@bk.ru', 'khalex@bk.ru'
