%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Location
          %p
            Uzbekistan
            %br Tashkent
        .footer-col.col-md-4
          %h3 Around the World
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          %h3 About Us
          %p
            Birds.uz is a free to use
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright &copy; Birds.uz 2014
