.footer
  .container
    .fleft
      %p
        =image_tag "navbar/bird_white.png", :align => "left"
        Все парава на опубликованные на сайте материалы принадлежат их авторам
        %br Birds.uz &copy; 2014
    .fright
      %p.aright
        =link_to 'О проекте', about_pages_path
        %br
          =link_to 'info@birds.uz', "#"
