%header
  .container
    .row
      .col-lg-12
        .intro-text
          %span.main_title Birds.uz поможет зарегистрировать увиденных на территории Узбекистана птиц
    .row
      .col-lg-12
        %button.btn.btn-lg.add-photo-button
          Добавить фотографию
