%nav.navbar.birds-nav.navbar-fixed-top
  .container
    .navbar-header
      / Navigation mobile
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Меню
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Logo
      =link_to root_path, class: 'navbar-brand', data: { name: 'TEST' } do
        =image_tag "navbar/logo.png", :alt => 'Birds.uz'
    #navbar.collapse.navbar-collapse
      / Menu Left
      %ul.nav.navbar-nav
        %li
          =nav_link_to 'Список видов', categories_path
        %li
          =nav_link_to 'Большой Год', big_year_index_path
        %li
          =nav_link_to 'Бердвотчеры', users_path
        -if current_user.try(:expert?)
          %li
            =nav_link_to 'Одобрить', approve_pages_path
      / Menu Right
      .navbar-right
        %ul.nav.navbar-nav.fright.mleft10
          -if current_user
            %li
              %span.nav-profile-lnk
                =link_to profile_path(current_user), class: 'profile-lnk' do
                  =image_tag current_user.avatar.thumb.url, class: 'img-circle'
                  %span= current_user.full_name.slice(0, 20)
            %li
              =link_to 'Выход', destroy_user_session_path, :method => :delete
          -else
            %li
              .btn-signup
                =link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-success'
            %li
              =link_to 'Вход', new_user_session_path
