%nav.navbar.birds-nav.navbar-fixed-top
  .container
    .navbar-header
      / Navigation mobile
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Меню
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Logo
      =link_to root_path, class: 'navbar-brand' do
        =image_tag "navbar/logo.png", :alt => 'Birds.uz'
    #navbar.collapse.navbar-collapse
      / Menu Left
      %ul.nav.navbar-nav
        %li.active
          =link_to 'Птицы', categories_path
        %li
          =link_to 'Большой год', big_year_pages_path
        %li
          =link_to 'На определение', "#"
      / Menu Right
      .navbar-right
        %ul.nav.navbar-nav.fright.mleft10
          %li
            .btn-signup
              =link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-success'
          %li
            - if current_user
              =link_to 'Выход', destroy_user_session_path, :method => :delete
            - else
              =link_to 'Вход', new_user_session_path
