.row.top-row.acenter
  %h3.sm-display-none Birds.uz – Давайте наблюдать птиц Узбекистана вместе!
  = link_to 'Добавить фотографию', new_bird_path, class: 'btn btn-info btn-xlg sm-width-max'
  - day_count = (Time.new(2015, 4, 1) - Time.now).to_i / 1.day + 1
  %h4 Сайт находится в разработке. Мы открываемся через #{day_count} дня! Приходите)
