.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 О проекте
          %p
            %i.pre-text Сайт birds.uz создан командой бёрдвотчеров для просвещения и вовлечения населения нашей страны в охрану природы.
          %p
            Задачами сайта являются:
            %ul
              %li
                Создание общедоступной информации о птицах Узбекистана;
              %li
                Создание базы данных распространения птиц через краудсорсинг;
              %li
                Источник информации для орнитологов;
              %li
                Пропаганда бёрдвотчинга как экологичного, безопасного и полезного времяпровождения;
              %li
                Платформа для проведения конкурса «Большой год в Узбекистане».
          %p
            Наши партнеры:
            %ul
              %li
                Институт Генофонда растительного и животного мира Академии наук Республики Узбекистана;
              %li
                Госбиоконтроль Госкомприроды Республики Узбекистана.
          %p
            На сайте вы можете поделиться фото встреченной вами птицы, попросить помощи экспертов в определении или узнать больше об орнитофауне Узбекистана.
          %p
            Мы открыты для сотрудничества и будем признательны за ваши предложения и комментарии. Поскольку сайт еще находится в разработке, мы также будем рады вашей помощи в дополнении информации о видах птиц, со ссылками на компетентные источники.
          %p
            Мы также просим на сайте проявлять взаимное уважение ко всем пользователям и не допускать применение нецензурной лексики.

      .col-sm-12.m-no-float.col.col-md-4.fright
        .row.site-stat-info-blck.mtop50
          .row.info-block-head
            %p На сайте зарегистрировано
          .row.info-block-body.m-pleft30p
            %p
              %span.lbl> Пользователей:
              =@users_count
              %br
                %span.lbl> Видов птиц:
                =@species_count
                %br
                  %span.lbl> Фотографий:
                  =@birds_count
                  %br
