.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 О проекте
          %p
            %i.pre-text Описание молодых нет розового оттенка, вместо него охристый налет на груди и спине, нет черного полукольца, меньше белого на хвосте. Вес 135-250 г, длина 31-33, крыло 17.3-18.8, размах 47-55 см.
          %p
            Меньше и гораздо стройнее сизого голубя, примерно с обыкновенную горлицу. Верх тела и сложенных крыльев песочного цвета, голова и грудь серовато-рыжие, с приятным розовым оттенком. От обыкновенной и большой горлиц отличается отсутствием темных пестрин на спине и кроющих крыла, верх однотонный, подкрылья светлые; на шее сзади изящное узкое черное полукольцо в белом ободке. Белый цвет на хвосте занимает около или более трети площади рулевых, а не выглядит только кромкой. Отчетливого полового
            %a{:href => "#"} диморфизма
            нет, самки окрашены чуть более блекло.
          %p Меньше и гораздо стройнее сизого голубя, примерно с обыкновенную горлицу. Верх тела и сложенных крыльев песочного цвета, голова и грудь серовато-рыжие, с приятным розовым оттенком.
          %p От обыкновенной и большой горлиц отличается отсутствием темных пестрин на спине и кроющих крыла, верх однотонный, подкрылья светлые; на шее сзади изящное узкое черное полукольцо в белом ободке. Белый цвет на хвосте занимает около или более трети площади рулевых, а не выглядит только кромкой. Отчетливого полового диморфизма нет, самки окрашены чуть более блекло.
      .col-sm-12.m-no-float.col.col-md-4.fright
        .row.site-stat-info-blck.mtop50
          .row.info-block-head
            %p На сайте зарегестрировано
          .row.info-block-body.m-pleft30p
            %p
              %span.lbl> Пользователей:
              =@users_count
              %br
                %span.lbl> Видов птиц:
                =@species_count
                %br
                  %span.lbl> Фотографий:
                  =@birds_count
                  %br

    =render 'shared/nav_add_photo'
