.bg-btm-container
  .container.content
    / Content TOP
    .row.top-row
      %h3.m-acenter
        = I18n.t('.pages.approve.title')

    / Content BODY
    .mtop40.home-img-container
      - @birds.each_slice(4) do |row|
        .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
