.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Правила наблюдения за птицами
          %p
            Нас часто спрашивают, почему нам так нравится наблюдать за птицами.
            Должны признаться, что мы любим природу в целом, но просто любоваться птицами проще всего, особенно в городских условиях.
            Птицы также являются индикатором состояния экосистем, поэтому данные об их распространении и численности, могут многое сказать ученым.
          %p
            Бердвотчинг (от англ. «bird» – «птица» и «watch» – наблюдение) или наблюдение за птицами – широко распространенное во всем мире хобби.
          %p
            Для занятия бердвотчингом лучше иметь при себе бинокль или фотоаппарат с хорошим зумом.
            Среди других предметов бердвотчера можно назвать определитель птиц, полевой дневник и подзорную трубу.
          %p
            Принципы бердвотчера:
            %ul
              %li
                Бережно относиться к птицам;
              %li
                Предотвращать опасность и стрессовые ситуации для птиц;
              %li
                Держаться на расстоянии от гнезд и массовых ночевок птиц;
              %li
                В случае обнаружения мест размножения редких и исчезающих видов не афишировать данный факт, а сообщить о находке специалистам-орнитологам или органам охраны природы;
              %li
                Придерживаться уже имеющихся дорог и троп;
              %li
                При проведении групповых наблюдений не шуметь и не мешать другим наблюдателям;
              %li
                Делиться знаниями и опытом с начинающими бердвотчерами;
              %li
                Передавать данные своих наблюдений для целей охраны птиц.
          %p
            По материалам брошюры АСБК «Как наблюдать за птицами». Полную версию брошюры  вы можете скачать на сайте
            =link_to 'Общества охраны птиц Узбекистана', 'http://uzspb.uz/how_to_watch_birds.pdf'
          %p
            Наблюдайте, восхищайтесь и делитесь радостью на нашем сайте!

    =render 'shared/nav_add_photo'
