.bg-container
  .container.content
    = render 'shared/nav_add_photo'

    .row.mtop40.home-img-container.row-sm
      = render partial: 'birds/photo', collection: @birds, as: :bird

    -if @birds.size > PagesController::PHOTO_COUNT_PER_PAGE
      .row.acenter
        =link_to 'Показать еще фотографии', root_path, data: {count: 8}, class: 'btn btn-success btn-xlg sm-width-max', id: 'show-more-photo'
