<% @birds.each_slice(4) do |row| %>
  $('.current-container').append("<div class='row row-sm'><%= j( render partial: 'birds/photo', collection: row, as: :bird ) %></div>");
<% end %>
$('#show-more-photo').data('count', <%= @total_count %>);
