<% @commented_birds.each_slice(4) do |row| %>
    $('.commentable-container').append("<div class='row row-sm'><%= j( render partial: 'birds/photo', collection: row, as: :bird ) %></div>");
<% end %>

$('#commentable-show-more').empty();
<% if @commented_birds && !@commented_birds.last_page? %>
    $('#commentable-show-more').append("<%= j(link_to("#{I18n.t('.pages.index.show_more')}", show_commentable_pages_path(comment_page: @commented_birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'))%>");
<% end %>
