.bg-btm-container
  .container.content
    / Content TOP
    .row.top-row
      %h3.m-acenter На определение

    / Content BODY
    .mtop40.home-img-container
      - @birds.each_slice(4) do |row|
        .row.row-sm= render partial: 'birds/photo_unknown', collection: row, as: :bird

    / Content FOOT SHOW MORE
    .row.acenter
      =link_to 'Показать еще фотографии', unknowns_pages_path, data: {count: PagesController::PHOTO_COUNT_PER_PAGE}, class: 'btn btn-success btn-xlg sm-width-max', id: 'show-more-photo'


    =render 'shared/nav_add_photo'
