.bg-btm-container
  .container.content
    / Content TOP
    .row.top-row
      %h3.m-acenter На определение

    / Content BODY
    .row.mtop10.home-img-container.row-sm
      = render partial: 'birds/photo_unknown', collection: @birds, as: :bird

    -if @birds.size > PagesController::PHOTO_COUNT_PER_PAGE
      / Content FOOT SHOW MORE
      .row.acenter
        %a.btn.btn-success.btn-xlg.sm-width-max Показать еще фотографии

    =render 'shared/nav_add_photo'
