.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой год 2019
          %p
            Готовьте ваши камеры – в этом году, за соревнование «Большой год 2019» будут не только почёт и признание, но и призы!
          %p
            Итак, за 1 место – сертификат от Amazon на 200$ и за 2 – 100$. Есть у нас приз и за самую интересную встречу года – сертификат от Amazon на 50$, а самому активному дебютанту мы подарим два тома нового определителя
            = link_to '«Птицы Средней Азии»', 'https://t.me/birdsuz/269'
            %p
            = image_tag 'contests/big_year_2015/bd_ecocenter/photo_vr.JPG', class: 'img-responsive image-center mbtm15'
          %p
            Удачной фотоохоты!
          %p
            %i
              О правилах соревнования вы можете узнать тут:
              = link_to 'Соревнование «Большой год»', big_year_path
