.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой год 2020
          %p
            Мы рады сообщить, что и  в этом году на нашем сайте будет много конкурсов с призами. Помимо уже традиционного соревнования «Большой год», будут призы и за самую интересную встречу, дебют года и многое другое! Следите за анонсами и уже начинайте свой личный Большой год!

            %p
            = image_tag 'contests/bg_2020.jpg', class: 'img-responsive image-center mbtm15'
          %p
            Удачной фотоохоты!
          %p
            %i
              О правилах соревнования вы можете узнать тут:
              = link_to 'Соревнование «Большой год»', big_year_path
