.row
  =image_tag bird.photo.small, class: 'img-responsive sm-centered mbtm15'
  .row.add-photo-info
    .col.col-md-4.aright
      %p
        %span.lbl
          = I18n.t('.birds.show.author')
    .col.col-md-8.aleft
      %p
        =link_to bird.user.full_name, profile_path(bird.user)

  -if bird.timestamp.present?
    .row.add-photo-info
      .col.col-md-4.aright
        %p
          %span.lbl
            = I18n.t('.birds.show.date')
      .col.col-md-8.aleft
        %p
          = date_format(bird.timestamp)

  -if bird.address_valid?
    .row.add-photo-info
      .col.col-md-4.aright
        %p
          %span.lbl
            = I18n.t('.birds.show.place')
      .col.col-md-8.aleft
        %p
          =bird.address_string
