%script{:src => "https://maps.googleapis.com/maps/api/js", :type => "text/javascript"}

.bg-btm-container
  / Content
  .container.content
    / Content TOP  PROGRESS BAR
    .row.top-row
      %h3 Добавить фотографию
      .progrees-bar-container
        / TOP
        .row.progrees-bar-top-icons
          %a{:href => "#"}
            .col.col-md-2.step-done
              .progress-bar-item.progress-top-round.progress-photo-ico
                %i &nbsp;
          %a{:href => "#"}
            .col.col-md-4.step-done.acenter
              .progress-bar-item.progress-top-round.progress-calendar-ico
                %i &nbsp;
          .col.col-md-4.step-active.acenter
            .progress-bar-item.progress-top-round.progress-tag-ico
              %i &nbsp;
          .col.col-md-2
            .progress-bar-item.progress-top-round.progress-check-ico
              %i &nbsp;
        / TOP
        / MDL
        .row.progrees-bar-middle-icons
          .col.col-md-2.step-done
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4.step-done
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4.step-active
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-2
            .progress-bar-item.dash
              \&nbsp;
        / MDL
        / BTM
        .row.progrees-bar-bottom-icons
          .col.col-md-2.step-done
            %a{:href => "#"}
              .progress-bar-item.progress-btn-round
                %i
            .progress-bar-item.dash.right-dash.big-dash
              \&nbsp;
          .col.col-md-4.step-done
            .progress-bar-item.dash.left-dash
              \&nbsp;
            %a{:href => "#"}
              .progress-bar-item.progress-btn-round
                %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-4.step-active
            .progress-bar-item.dash.left-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-2
            .progress-bar-item.dash.left-dash.big-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
        / BTM
        / DESCR
        .row.progrees-bar-descr
          .col.col-md-2.step-done
            .descr
              %a{:href => "#"}
                %p
                  Загрузите
                  %br фотографию
          .col.col-md-4.step-done
            .descr
              %a{:href => "#"}
                %p
                  Укажите
                  %br дату съемки
          .col.col-md-4.step-active
            .descr
              %p
                Укажите
                %br место съемки
          .col.col-md-2
            .descr
              %p
                Определите
                %br вид птицы
    / DESCR

    / Content TOP PROGRESS BAR
    / Content TOP PROGRESS BAR - SMALLER DISPLAY
    .small-progrees-bar-container
      %p.step-done
        %a{:href => "#"}
          %span.progress-bar-item.small-progress-bar-round-num
            %i 1
          %span.small-progress-bar-dash
            %i.progress-bar-item &nbsp;
          %span.progress-bar-item.progress-top-round.progress-photo-ico.small-progress-bar-round-icon
            %i &nbsp;
          %span.small-progress-bar-text Загрузите фотографию
      %p.step-done
        %a{:href => "#"}
          %span.progress-bar-item.small-progress-bar-round-num
            %i 2
          %span.small-progress-bar-dash
            %i.progress-bar-item &nbsp;
          %span.progress-bar-item.progress-top-round.progress-calendar-ico.small-progress-bar-round-icon
            %i &nbsp;
          %span.small-progress-bar-text Укажите дату съемки
      %p.step-active
        %span.progress-bar-item.small-progress-bar-round-num
          %i 3
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-tag-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Укажите место съемки
      %p
        %span.progress-bar-item.small-progress-bar-round-num
          %i 4
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-check-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Определите вид птицы
    / Content TOP PROGRESS BAR - SMALLER DISPLAY

    / Content BODY
    .row.mtop40.add-photo-container
      .col-sm-12.col-md-9
        = form_for @bird do |form|
          .row.form-container.m-acenter
            %p Введите координаты точки съемки или щелчком укажите точку съемки на карте:
            %span.m-d-block
              Широта:
              =form.text_field :latitude, class: 'form-control w20 mleft10'
            %span.m-d-block.m-mleft0.m-mtop10.mleft20
              Долгота:
              =form.text_field :longitude, class: 'form-control w20 mleft10'
          .row.map-container
            #map_canvas{:style => "width:100%; height:350px"}
          .row.form-container.mtop20
            %span
              Название места съемки:
              -#%input.form-control.w50.mleft10.m-w73{:name => "place", :type => "text"}/
              =form.text_field :address, class: 'form-control w50 mleft10 m-w73'
            %input.fright.btn.btn-info.sm-display-none{:type => "submit", :value => "Продолжить"}/
          %input.mtop3.m-h35.mbtm20.sm-width-max.btn.btn-info.display-sm-only.w{:type => "submit", :value => "Продолжить"}/

      .sm-display-none.col-md-3.acenter
        =render 'birds/photo_info', bird: @bird
