.bg-btm-container
  .container.content

    / Content TOP  PROGRESS BAR
    .row.top-row
      %h3 Добавить фотографию
      .progrees-bar-container
        / TOP
        .row.progrees-bar-top-icons
          .col.col-md-2.step-done
            .progress-bar-item.progress-top-round.progress-photo-ico
              %i &nbsp;
          .col.col-md-4.step-active
            .progress-bar-item.progress-top-round.progress-calendar-ico
              %i &nbsp;
          .col.col-md-4
            .progress-bar-item.progress-top-round.progress-tag-ico
              %i &nbsp;
          .col.col-md-2
            .progress-bar-item.progress-top-round.progress-check-ico
              %i &nbsp;
        / MDL
        .row.progrees-bar-middle-icons
          .col.col-md-2.step-done
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4.step-active
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-2
            .progress-bar-item.dash
              \&nbsp;
        / BTM
        .row.progrees-bar-bottom-icons
          .col.col-md-2.step-done
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash.big-dash
              \&nbsp;
          .col.col-md-4.step-active
            .progress-bar-item.dash.left-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-4
            .progress-bar-item.dash.left-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-2
            .progress-bar-item.dash.left-dash.big-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
        / DESCR
        .row.progrees-bar-descr
          .col.col-md-2.step-done
            .descr
              %p
                Загрузите
                %br фотографию
          .col.col-md-4.step-active
            .descr
              %p
                Укажите
                %br дату встречи
          .col.col-md-4
            .descr
              %p
                Укажите
                %br место встречи
          .col.col-md-2
            .descr
              %p
                Определите
                %br вид птицы

    / Content TOP PROGRESS BAR - SMALLER DISPLAY
    .small-progrees-bar-container
      %p.step-done
        %span.progress-bar-item.small-progress-bar-round-num
          %i 1
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-photo-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Загрузите фотографию
      %p.step-active
        %span.progress-bar-item.small-progress-bar-round-num
          %i 2
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-calendar-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Укажите дату встречи
      %p
        %span.progress-bar-item.small-progress-bar-round-num
          %i 3
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-tag-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Укажите место встречи
      %p
        %span.progress-bar-item.small-progress-bar-round-num
          %i 4
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-check-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Определите вид птицы

    / Content BODY
    .row.mtop40.add-photo-container
      .col-md-9.col-sm-12
        = form_for @bird do |form|
          .form-container
            .action-description
              Укажите дату встречи птицы
            #bird-datetime-group.input-group.date.w80.sm-width-max
              = form.text_field :timestamp, 'value' => date_format(@bird.timestamp), 'data-date-format' => 'DD/MM/YYYY', 'class' => 'form-control photo-date-input', placeholder: 'DD/MM/YYYY'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar{ 'aria-hidden' => 'true' }

            =form.submit 'Продолжить', class: 'fright btn btn-info mtop-30 sm-display-none'
          =form.submit 'Продолжить', class: 'mtop3 m-h35 mbtm20 sm-width-max btn btn-info display-sm-only w'

      .col-md-3.acenter.sm-display-none
        =render 'birds/photo_info', bird: @bird
