/* FONTS */
//@import 'https://fonts.googleapis.com/css?family=Ubuntu:200,400,300,700';
//@import 'https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,600';


/* GENERAL */
* {
    font-family:"Ubuntu", Arial, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    color:#4d4d4d !important;
}
h4 {
    font-size:19px !important;
    margin-bottom: 15px !important;
}
h5 {
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-bottom: 15px !important;
}
input[type="text"], input[type="password"], input[type="email"], select {
    border:none !important;
    border-radius:3px !important;
    display:inline-block;
    height: 36px;
}
input[type="file"] {
    visibility:hidden;
    position:absolute;
    height: 36px;
}
a.link {
    color:#90b444;
    text-decoration:underline;
}
a.link:hover {
    color:#90b444;
    text-decoration:none;
}

.col-sm-12 {
    padding:0 !important;
}
.col-md-4.col-sm-12 {
    padding-left:30px !important;
}

.form-container {
    padding: 25px 20px;
    width: 100%;
    background-color: #f7f7ed;
    margin-bottom: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.w70p {
    width:70px;
}
.w80 {
    width:80%;
}
.w80p {
    width:80px;
}
.d-block {
    display:block;
}
.w110 {
    width:110px;
}
.w130 {
    width:130px;
}
.w190 {
    width:190px !important;
}
.w220 {
    width:220px;
}
.w345 {
    width:345px;
}
a.lnk-success {
    color:#90b444 !important;
}
.btn-lg-spec {
    font-size:18px  !important;
    padding:8px 16px  !important;
}
.w65 {
    width:65% !important;
}
.w20 {
    width:20% !important;
}
.w50 {
    width:50% !important;
}
.w80 {
    width:80% !important;
}
.w100p {
    width:100% !important;
}
.w15 {
    width:15% !important;
}
.fright {
    float:right !important;
}
.fleft {
    float:left !important;
}
.mtop-30 {
    margin-top:-30px !important;
}
.mtop10 {
    margin-top:10px !important;
}
.mtop20 {
    margin-top:20px !important;
}
.mtop40 {
    margin-top:40px !important;
}
.mtop50 {
    margin-top:50px !important;
}
.mtop165 {
    margin-top:165px !important;
}
.mleft10 {
    margin-left:10px !important;
}
.mleft20 {
    margin-left:20px !important;
}
.mbtm15 {
    margin-bottom:15px !important;
}
.mbtm20 {
    margin-bottom:20px !important;
}
.mbtm40 {
  margin-bottom:40px !important;
}
.mright20 {
  margin-right:20px !important;
}
.acenter {
    text-align:center !important;
}
.aright {
    text-align:right !important;
}
.fcenter {
    margin:0 auto !important;
    float:none !important;
}
.aleft {
    text-align:left !important;
}
.ptop30 {
    padding-top:30px !important;
}
.mtop3 {
    margin-top:3px !important;
}
.mtop4 {
    margin-top:4px !important;
}
.mtop-7 {
    margin-top:-7px !important;
}
.pright15 {
    padding-right:15px !important;
}
.pleft20 {
    padding-left:20px !important;
}
.pleft30 {
    padding-left:30px !important;
}
.p0 {
    padding:0 !important;
}
.display-sm-only {
    display:none !important;
}
.bg-container{ /*home page */
    background-image: asset-data-url('share/main_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: 100% auto;
}
.bg-btm-container /*other pages */
{
    background-image: asset-data-url('share/bg_btm.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    background-size: 100% auto;
}
.content {
    padding-bottom:50px;
    margin-top:60px ;
}
.content-container, .container.content{
    min-height:420px;
}
.row.top-row, .row.btm-row {
    padding-top:40px;

}
.btn-xlg {
    padding:6px 40px !important;
    font-size: 20px !important;
    margin-top: 15px;
}
.lbl {
    color:#94846e;
}
ol li a {
    color:#4d4d4d;
}
ol li a:hover {
    color:#6bcbca !important;
    text-decoration:none !important;
}
ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    list-style:none;
}
ol li:before {
    display: inline-block;
    content: counter(item)".";
    counter-increment: item;
    margin-left:0;
    margin-right:5px;
    font-size:14px;
}
.info-color {
    color:#94846e;
}
.g-pencil{
    background: asset-data-url('share/edit/pencil.png') no-repeat 50% 50%;
    cursor:pointer;
}
.d-inline-table {
    display:inline-table !important;
}
.d-inline-block {
    display:inline-block !important;
}





/* NAVIGATION ADDONS */
.birds-nav {
    background-color:#a7d155;

}
.navbar-right {
    margin-right:0 !important;
}
.navbar {
    border-radius:0 !important;
}
.birds-nav, .footer {
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
}
.birds-nav ul.nav > li > a {
    font-size:16px;
    color: #fff;
    height: 60px;
    padding: 18px 20px;
}
.navbar-right ul.nav > li > a {
    font-size:16px;
    color: #fff;
    height: 60px;
    padding: 18px 15px;
}
.birds-nav ul.nav > li > a:hover, .birds-nav ul.nav > li.active > a {
    background-color:#9bc24c;
}
.birds-nav .navbar-toggle {
    border-color: #9bc24c;
}

.birds-nav .navbar-toggle .icon-bar {
    background-color: #fff;
}
a.navbar-brand {
    margin-right: 35px;
}
.navbar-right a.btn {
    margin-top:12px;
    font-size:16px;
}
.navbar a.profile-lnk  span{
  color:#fff;
  text-decoration:underline !important;
  font-size: 13px;
  padding-left: 3px;
}
.navbar a.profile-lnk:hover span, .navbar a.profile-lnk:hover{
    color:#fff;
    text-decoration:none !important;
}
.navbar-right > a {
    float:left;
}

/* HELP BOTTOM MENUS */

@media screen and (max-width: 1080px) {
  .bg-container .posters {
    display: none;
  }
  .bg-container .bottom-links {
    display: none;
  }
}

.posters {
    background-color: #f7f7ed;
    height: 240px;
    padding: 35px 0 30px;
    .row.container {
        width: 1080px;
        margin: 0 auto;
        .help-menu-item {
            text-align: center;
            .icon {
                margin-bottom: 15px;
            }
            p {
                margin: 0 auto;
                width: 200px;
                font-size: 18px;
                color: #94846e;
            }
            a {
                font-size: 18px;
                text-decoration: underline;
                color: #94846e;
                &:hover {
                  text-decoration: none;
                }
            }
        }
    }
}

.bottom-links {
    margin: 55px 0 60px;
    .links-list {
        p {
            margin-bottom: 4px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: -3px 0;
            }
        }
        &.pull-left {
            margin-left: 130px;
        }
        &.pull-right {
            margin-right: 15px;
        }
    }
}



/* BIRDS ADD */
.small-progrees-bar-container {
    display:none;
}


/* Categories List */
.birds-class-list-container {
    .birds-class-list {
        li a {
            font-size: 14px;
        }
    }
}


/* Adaptive layout */
@media (max-width: 767px) {
    /* columns layout */
    .col-sm-6.col-md-3.home-img-block {
        margin:0 auto 30px auto !important;
    }

    /*general */
    .xs-align-center {
        margin:0 auto !important;
    }
    .mm-pleft0{
        padding-left:0 !important;
    }
    .mm-pleft10{
        padding-left:10px !important;
    }

    .mm-mtop0 {
        margin-top:0 !important;
    }

    ul.selectOptions.w220 {
        width:210px !important;
    }

}



@media (max-width: 1079px) {

    /*navigation */
    .navbar-fixed-top {
        position: relative !important;
    }
    .navbar-right a.btn, .navbar-right a.profile-lnk{
        display: block;
        width: 104%;
        text-align: left;
        padding: 0;
        background: transparent;
        border: none;
        margin: 0;
        line-height: 60px;
        margin-top:0 !important;
        border-radius: 0;
        margin-left: -15px;
        padding-left: 20px;
    }
    .navbar-right ul.nav > li > a {
        padding-left: 20px !important;
    }
    .navbar-right a.btn:hover, .navbar-right a.profile-lnk:hover {
        background:#9bc24d;
    }
    .navbar-right ul {
        float: left !important;
        margin: 0;
        margin-left: -15px !important;
        width: 104%;
    }
    .navbar-nav {
        margin-bottom:0 !important;
    }




    /* columns layout */
    .col-md-4.col-sm-12 {
        padding-left:0 !important;
    }




    /* birds add */
    .progrees-bar-container *{
        display:none;
    }
    .birds-nav .navbar-right {
        float:none !important;
    }
    .add-photo-container .col-md-3 {
        float:none !important;
    }
    .small-progrees-bar-container {
        display:block;
        margin-top:20px;
    }
    .small-progrees-bar-container a, .small-progrees-bar-container a:hover {
        text-decoration:none !important;
        color:#4d4d4d;
    }
    .add-photo-info .col-md-4 {
        width:33.33333333% !important;
        float:left !important;
    }
    .add-photo-info .col-md-8 {
        width:66.66666666% !important;
        float:left !important;
    }
    .small-progress-bar-round-icon {
        height:40px  !important;
        width:40px  !important;
        line-height:40px !important;
        display:inline-block !important;
    }
    .small-progress-bar-round-icon i {
        background-size: 50% !important;
    }
    span.small-progress-bar-round-num {
        display:inline-block !important;
        width:20px;
        height:20px;
        line-height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;

    }
    span.small-progress-bar-round-num i {
        display:block;
        color:#fff;
        font-style:normal;
        text-align:center;
    }
    .small-progrees-bar-container p {
        height: 43px;
        line-height: 43px;
        vertical-align:middle;
    }
    .small-progress-bar-dash i{
        display:inline-block !important;
        width:15px;
        height:5px;
        line-height:5px;
        margin-left:5px;
        margin-right:5px;
    }
    .small-progress-bar-text {
        margin-left:5px;
    }




    /* general */
    .row-sm {
        width:540px;
        margin:0 auto;
    }
    .m-w73 {
        width:73% !important;
    }
    .m-w98{
        width:98% !important;
    }
    .sm-display-none {
        display:none !important;
    }
    .bg-container, .bg-btm-container {
        background:transparent !important;
    }
    .row.top-row, .row.btm-row {
        padding-top:10px !important;
    }
    .content {
        padding-bottom: 40px !important;
        margin-top: 0px !important;
    }
    .sm-width-max {
        width:100% !important;
    }
    .m-p-abs {
        position:absolute !important;
    }
    .m-w94 {
        width:94% !important;
    }
    .m-w85 {
        width:85% !important;
    }
    .m-h35 {
        height:35px !important
    }
    .sm-mtop10 {
        margin-top:10px !important;
    }
    .sm-center {
        display:block !important;
        float:none !important;
        margin:10px auto 0 auto !important;
    }
    .m-acenter {
        text-align:center;
    }
    .m-d-block {
        display:block;
    }
    .m-mleft0 {
        margin-left:0 !important;
    }
    .m-mtop10 {
        margin-top:10px !important;
    }
    .m-mtop20 {
        margin-top:20px !important;
    }
    .m-mbtm20 {
        margin-bottom:20px !important;
    }
    .m-pleft250 {
        padding-left:250px !important;
    }
    .m-pleft180 {
        padding-left:180px !important;
    }
    .m-pleft90 {
        padding-left:90px !important;
    }
    .m-no-float {
        float:none !important;
    }

    .m-float-right {
        float:right !important;
    }
    .m-pleft30p {
        padding-left:30% !important;
    }
    .display-sm-only {
        display:block !important;
    }



    /* birds photo, birds photo unknown  and description*/
    .bird-photo-title { /* also uses in birds description, */
        padding-left:30%;
        padding-bottom: 20px;
    }
    .bird-photo-social {
        text-align:center !important;
        padding-top:10px !important;
    }
    .bird-photo-map {
      width:50%;
      margin:0 auto;
    }
    .hide-bird-photo-map {
      display: none;
    }
    .descr-container .col-md-9 {
        width:54% !important;
        float:left !important;
    }
    .descr-container .col-md-3 {
        width:45% !important;
        float:left !important;
    }
    .bird-photo-descr .descr-container {
        background:transparent !important;
        margin-bottom:0 !important;
    }
    .bird-photo-descr .descr-container:before {
        display:none;
    }
    .bird-photo-descr {
        padding-top:0 !important;
    }
    .bird-descr-container .col-md-4.col-sm-12{
        padding-left:0px !important;
    }
    .photo-info-dinamic {
        left:0 !important;
        width:100%;
        text-align:center;
        padding-top:5px;
    }
    .bird-descr-container  .add-comment-form {
        background:transparent !important;
        text-align:center;
        padding-top:5px !important;
    }
    .bird-descr-container  .add-comment-form:before {
        display:none;
    }

    .bird-photo-social a.social-lnk {
        margin-top:10px;
    }
    .content-container > .col-md-8, .bird-descr-container > .col-md-8 {
        max-width:1079px !important;
        z-index: 100;
    }
    .bird-photo-img img{
        display: inline !important;
    }
    .bird-photo-img {
        text-align:center;
    }
    .bird-descr-container .bird-photo-tumbs {
        height:0 !important;
        min-height:240px !important;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .bird-descr-container .bird-photo-btn {
        padding:0 !important;
        margin:0 !important;
    }

    .bird-photo-tumbs .col-md-6.col-sm-4 {
        max-width:165px;
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .bird-descr-container .bird-photo-tumbs > .col-md-6:nth-child(even) {
        margin-left:0 !important;
    }
    .block-science .info-block-body {
        padding-left:30% !important;
    }

    /* big year */
    .big-year-participants .col-md-4 {
        width:33.3333333% !important;
        float:left;
    }
    .map-img-container .col-md-2.col-sm-6 {
        padding:0;
        margin-right:25px;
    }
    .map-img-container > .col-md-2.col-sm-6:nth-child(3n) {
        margin-right:0 ;
    }

    /* birds map */
    .gmap-big {
        height:350px !important;
    }


    /*photo unknown */
    .bird-photo-unknown-title {
        padding-left:0 !important;
        text-align:center !important;
    }

    /* login, registration */
    .reg-form-cntainer, .reg-form-cntainer.login-form {
        width:100% !important;
        background:#f7f7ed !important;
    }
    .input-group.display-sm-only {
        display:inline-table !important;
    }
    .reg-form-cntainer.login-form .row {
        margin-bottom: 20px !important;
    }

    /* profile */
    .profile-stat-data {
        padding-left: 75px !important;
        margin-top: -40px;
    }
    .profile-container .profile-info-block .col-md-8.col-sm-12 {
        padding-left: 0 !important;
    }
    .profile-container .block-holder {
        border-top:1px solid #f6f7f2;
    }
    .profile-container .block-holder.last {
        border-bottom:1px solid #f6f7f2;
    }
    .mobile-blocks-nav {
        padding:20px;
        display:block !important;
    }
    .active-block.profile-block-container {
        padding-bottom:20px;
    }
    .mobile-blocks-nav a, .mobile-blocks-nav a:hover {
        color:#90846c !important;
        text-decoration:none !important;
        cursor:pointer;
    }
    .mobile-blocks-nav a.active:before {
        background:asset-data-url('profile/menu_up.png') no-repeat;
    }
    .mobile-blocks-nav a:before {
        background:asset-data-url('profile/menu_down.png') no-repeat;
        width:12px;
        content: ' ';
        height:10px;
        line-height:12px;
        position: relative;
        top: 1px;
        display: inline-block;
        margin-right:20px;
    }
}


@media (min-width: 1080px) {
    /*navigation */
    .navbar .nav-profile-lnk{
        margin-top: 10px;
        display: inline-block;
        margin-right: 10px;
        float:left;
    }
}



/*footer*/
.footer {
    background-color:#94846e;
    padding:20px 0;
}
.footer p {
    color:#fff;
    font-size:12px;
    line-height:15px;
    margin-bottom:0;
}
.footer img {
    margin: -5px 15px 0 0;
}
.footer a {
    color:#fff !important;
    font-size:12px;
    line-height:15px;
    text-decoration:underline !important;
}
.footer a:hover {
    text-decoration:none !important;
}



/* Search BTN */
div.search-btn {
    position:fixed;
    right:0;
    top:170px;
    width:40px;
    height:40px;
    z-index:100;
}
div.search-btn a.search{
    width:40px;
    height:40px;
    display:block;
    line-height:38px;
    vertical-align:middle;
    text-align:center;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color:#94846e;
    border-bottom:2px solid #86745b;
}
div.search-btn a.search:hover{
    background-color:#86745b;
    border-bottom:2px solid #94846e;
}





/* homepage and birds_photo_unknown*/
.home-img-container .col-md-3 {
  min-width:256px;
  max-width:256px;
  padding:0 !important;
  padding: 0 !important;
  margin: 0 9px 25px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.home-img-block > div, .img-container-blck > div {
    display:table;
    overflow:hidden;
    width:100%;
}
.home-img-block > div > div.blck , .img-container-blck > div > div.blck{
    display:table-cell;
    vertical-align: middle;
}
.home-img-block > div.head {
    min-height:60px !important;
    max-height:60px !important;
    height:60px !important;
    border-radius: 3px 3px 0 0 !important;
    background-color:#f7f7ed !important;
}

.home-img-block > div.foot, .img-container-blck > div.foot {
    min-height:54px;
    max-height:60px;
    height:54px;
}
.home-img-block > div.foot p, a {
    font-size: 12px;
}
.home-img-block > div.foot p {
    margin:0 ;
    color: #94846e;
}
.home-img-block > div.head > div:first-child, .home-img-block > div.foot > div:first-child {
    padding:0 10px;
    max-width: 56px;
    width: 56px;
}
.home-img-block > div.head > div:last-child, .home-img-block > div.foot > div:last-child {
    padding:0 10px 0 0;
}
.home-img-block > div.head a {
    color:#4d4d4d;
    text-decoration:none;
    font-size: 16px;
    line-height: 16px !important;
    font-weight: 400;
}
.home-img-block > div.head a:hover {
    color:#6bcbca;
    text-decoration:none;
}

/* birds comments on home */
.home-img-block {
    .comments {
        font-size: 12px;
        color: #4d4d4d;
        .last {
            border-top: 1px solid #e5e5da;
            border-bottom: 1px solid #e5e5da;
            height: 44px;
            .comment-part {
                display: table-cell;
                height: 40px;
                vertical-align: middle;
            }
        }
        .more {
          padding-top: 3px;
          a {
            color: #4d4d4d;
            &:hover {
              text-decoration: none;
              color: #6bcbca;
            }
          }
        }
    }
}




/* birds add */
.progress-bar-item {
    background-color:#94846e;
}

.progress-top-round {
    display:inline-block;
    width:80px;
    height:80px;
    text-align:center;
    line-height:80px;
    vertical-align:middle;
    border-radius:50%;

}
.progrees-bar-container {
    padding-top:5px;
}
.progrees-bar-top-icons > div:nth-child(2), .progrees-bar-top-icons > div:nth-child(3), .progrees-bar-bottom-icons > div:nth-child(2), .progrees-bar-bottom-icons > div:nth-child(3)  {
    text-align:center;
}
.progrees-bar-top-icons > div:last-child, .progrees-bar-bottom-icons > div:last-child {
    text-align:right;
}
.progrees-bar-middle-icons > div:nth-child(2) .dash, .progrees-bar-middle-icons > div:nth-child(3)  .dash{
    margin:0 auto;
}
.progrees-bar-middle-icons > div:last-child .dash{
    float:right;
    margin-right:35px;
}
.progrees-bar-middle-icons > div:first-child .dash{
    float:left;
    margin-left:35px;
}
.progrees-bar-middle-icons {
    padding:5px 0;
}

.progress-top-round > i {
    display:block;
}
.progress-photo-ico > i {
    background: asset-data-url("bird/add/photo_ico.png") no-repeat center center;
}
.progress-calendar-ico > i {
    background: asset-data-url("bird/add/calendar_ico.png") no-repeat center center;
}
.progress-tag-ico > i {
    background: asset-data-url("bird/add/tag_ico.png") no-repeat center center;
}
.progress-check-ico > i {
    background: asset-data-url("bird/add/check_ico.png") no-repeat center center;
}
.progrees-bar-middle-icons .dash  {
    width:8px;
    height:12px;
}
.progrees-bar-bottom-icons > div  div.progress-btn-round {
    display:inline-block;
    width:42px;
    height:42px;
    text-align:center;
    line-height:42px;
    vertical-align:middle;
    border-radius:50%;
}
.progrees-bar-bottom-icons > div  .progress-btn-round i:before {
    color:#fff;
    font-size:20px;
    font-style:normal;
}
.progrees-bar-bottom-icons > div:first-child  .progress-btn-round i:before {
    content:' 1';
}
.progrees-bar-bottom-icons > div:nth-child(2)  .progress-btn-round i:before {
    content:' 2';
}
.progrees-bar-bottom-icons > div:nth-child(3)  .progress-btn-round i:before {
    content:' 3';
}
.progrees-bar-bottom-icons > div:last-child  .progress-btn-round i:before {
    content:' 4';
}
.progrees-bar-bottom-icons > div:first-child  div.progress-btn-round {
    float:left;
    margin-left:18px;
}
.progrees-bar-bottom-icons > div:last-child  .progress-btn-round {
    float:right;
    margin-right:18px;
}
.progrees-bar-bottom-icons .dash{
    display:inline-block;
    height:8px;
    width:41%;
    margin:18px 0;
}
.progrees-bar-bottom-icons .dash.big-dash {
    width:55%;

}
.progrees-bar-bottom-icons .dash.right-dash {
    float:right;
}
.progrees-bar-bottom-icons .dash.left-dash {
    float:left;
}
.progrees-bar-bottom-icons .col:first-child {
    padding-right:0 !important;
}
.progrees-bar-bottom-icons .col:last-child {
    padding-left:0 !important;
}
.progrees-bar-bottom-icons .col:nth-child(2), .progrees-bar-bottom-icons .col:nth-child(3)  {
    padding-left:0 !important;
    padding-right:0 !important;
}
@media (max-width: 1070px) {
    .progrees-bar-bottom-icons .dash.big-dash {
        max-width: 140px;
    }
}
.step-active .progress-bar-item{
    background-color:#89d5d5;
}
.step-active .left-dash {
    background-color:#a7d155;
}
.step-done .progress-bar-item{
    background-color:#a7d155;
}
.step-active .right-dash {
    background-color:#94846e;
}
.progrees-bar-descr {
    padding-top:10px;
}
.progrees-bar-descr .descr p , .progrees-bar-descr .descr a{
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    color: #4d4d4d;
    text-decoration:none;
}
.progrees-bar-descr .descr a:hover {
    text-decoration:none;
}
.progrees-bar-descr > div:first-child > div {
    float:left;
}
.progrees-bar-descr > div:last-child > div {
    float:right;
}
.add-photo-container  img, .bird-photo-img img{
  border:1px solid #94846e;
}
.add-photo-container {
  min-height:700px;

  .col-md-9 {
    max-width: 705px;
    padding: 0;
  }
  .col-md-3 {
    float:right;
    padding:0;
  }
  .selectBox{
    width: 430px;
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: left;
    line-height: 30px;
    clear: both;
    color: #555;
    margin-left: 5px;
  }
  #dropdownMenu{
    width: 100%;
  }
  ul.dropdown-menu{
    width: 100%;
    padding: 10px;
  }
  .selected-spe.photo-condition-textcies {
    margin-left: 20px;
    font-style: italic;
    border-bottom: 1px solid #9d9e98;
  }
  .action-description {
    padding: 5px 0 15px 5px;
  }
  .good-photo-condition {
    padding: 15px 5px 0 5px;
    font-size: 12px;
    color: #94846e;
  }
}

.form-container { /* also uses for add comment form block, search block, profile form blocks */
  padding:25px 20px;
  width:100%;
  background-color:#f7f7ed;
  margin-bottom:20px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.search-description {
  padding: 15px 5px 0 5px;
  font-size: 12px;
  color: #94846e;
}

@media (max-width: 550px) {
    .form-container .fright, .bird-photo-container .fright {
        float:none !important;
    }
}

.add-photo-info {
    font-size:14px;
}
.add-photo-info .col{
    padding:0;
}
.add-photo-info .col.col-md-8 {
    padding-left:10px;
}
.add-photo-info .col p {
    margin-bottom:0;
}
.add-photo-container .btn{
    padding: 4px 12px;
    height:31px;
}




/* bird photo, birds photo unknown and bird description */
.content-container > .col-md-8, .bird-descr-container > .col-md-8 {
    padding:0;
    max-width: 705px;
}
.content-container > .col-md-4, .bird-descr-container > .col-md-4 {
    padding-right:0;
    padding-left:30px;
}
.content-container .bird-photo-title h3, .bird-photo-title p{
    margin-bottom:3px;
}
.content-containerr .bird-photo-title,  .bird-descr-container .bird-photo-title{
    padding-bottom:15px;
}
.content-container .bird-photo-title p{
    color:#94846e;
}
.content-container .bird-photo-comments {
    padding-top:10px;
}
.content-container .bird-photo-comments .comments-container {
    padding-top:10px;
    padding-left:20px;
}
.comments-container .comment-holder a {
    color: #6bcbca;
    &:hover {
        text-decoration: none;
        color: #6bcbca;
    }
}
.comments-container .comment-holder p {
    margin-bottom:0;
}
.comments-container .comment-holder {
    padding-left:10px;
    font-size: 12px;
    padding-right: 30px;
}
.comments-container .row {
    margin-bottom:10px;
}
.comments-container > .row > div {
    display: block;
    float: left;
}
.image-holder img{
    max-width:40px;
    max-height:40px;
}
.add-comment-form-container .add-comment-form, .bird-photo-descr .descr-container, .form-container {
    padding:16px 10px;
    width:100%;
    background-color:#f7f7ed;
    margin-bottom:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.bird-photo-descr .descr-container {
    padding:20px 5px;
    width:100%;
    background-color:#f7f7ed;
    margin-bottom:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

}
.bird-photo-descr .descr-container > div:last-child {
    padding-left:0;
}
.bird-photo-descr .descr-container  p {
    margin-bottom:5px;
    font-size:11px;
}
.add-comment-form-container {
    position:relative;
    padding-top: 30px;
}
.bird-photo-descr {
    position:relative;
    padding-left:20px;
    padding-top:20px;
}
.bird-photo-descr .descr-container:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 40px;
    width: 19px;
    height: 58px;
    background: asset-data-url('share/bg_arrow_left.png');
}
.add-comment-form-container .add-comment-form:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 12px;
    left: 55px;
    width: 58px;
    height: 19px;
    background: asset-data-url('share/bg_arrow_up.png');
}
.add-comment-form-container .add-comment-form p {
    margin-bottom:0;
}
.add-comment-form-container .add-comment-form a {
    text-decoration:underline !important;
}
.add-comment-form-container .add-comment-form a:hover {
    text-decoration:none !important;
}
.bird-photo-social {
    text-align:right;
    padding-top: 53px;
}
.bird-photo-social a.social-lnk {
    display:inline-block;
    width:28px;
    height:28px;
    border-radius:50%;
    background-color:#f7f7ed;
    margin-left:5px;
}
.bird-photo-social a.social-lnk:hover {
    background-color:#89d5d5;
    cursor:pointer;
}
.bird-photo-social a.social-lnk span {
    display:block;
    width: 28px;
    height: 28px;
}
.bird-photo-social a.social-lnk.fb span {
    background:asset-data-url('social/fbh.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.fb:hover span {
    background:asset-data-url('social/fb.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.ok span {
    background:asset-data-url('social/okh.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.ok:hover span {
    background:asset-data-url('social/ok.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.vk span {
    background:asset-data-url('social/vkh.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.vk:hover span {
    background:asset-data-url('social/vk.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.tw span {
    background:asset-data-url('social/twh.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.tw:hover span {
    background:asset-data-url('social/tw.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.gp span {
    background:asset-data-url('social/gph.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.gp:hover span {
    background:asset-data-url('social/gp.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.pi span {
    background:asset-data-url('social/pih.png') no-repeat 50% 50%;
}
.bird-photo-social a.social-lnk.pi:hover span {
    background:asset-data-url('social/pi.png') no-repeat 50% 50%;
}
.bird-photo-map {
  position: relative;
  padding-top:10px;
  width: 100%; /* for IE 6 */
  .empty_map_description {
    position:absolute;
    display: block;
    left:70px;
    top:136px;
    color:#94846e;
  }
}
.bird-photo-btns a{
    width:100%;
    font-size:16px;
    margin-bottom:10px;

}
.comments-container > div.row {
    position:relative;
}
a.delete-comment-lnk {
    color: #fff;
    width: 24px;
    height: 19px;
    display: block;
    background:asset-data-url('share/edit/delete_icon.png') no-repeat;
    cursor:pointer;
}
a.delete-comment-lnk:hover {
    background:asset-data-url('share/edit/delete_icon_hover.png') no-repeat;;
}
.bird-descr-container .bird-photo-btn {
    padding-top:40px;
    padding-bottom:30px;
}
.bird-descr-container .bird-photo-btn a {
    width:100%;
    font-size:16px;
}
.bird-descr-container .bird-photo-description {
    position:relative;
}
.bird-descr-container .photo-info-dinamic {
    position:absolute;
    top:0;
    right:0;
    font-size:12px;

}
.bird-descr-container .photo-info-dinamic p {
    margin-bottom:5px;
    margin-top: 5px;
}
.bird-descr-container .bird-description h5 {
    color:#94846e !important;
    margin-bottom: 10px !important;
}
.bird-descr-container .bird-description p {
    text-align:justify;
}
.bird-photo-tumbs img {
    cursor:pointer;
    border:1px solid #94846e;
}
.bird-photo-tumbs .col-md-6 {
    padding:0;
    max-width: 155px;
    margin-bottom:15px;
    width:48%;
}
@media (max-width: 930px) {

    .bird-descr-container .col-md-4 {
        width:100%;
        padding-left:0;
        padding-right:15px;
    }
    .bird-photo-tumbs .col-md-6 {
        padding:0 15px;
        display:inline-block;
    }
}
.bird-descr-container .bird-photo-tumbs > .col-md-6:nth-child(even) {
    margin-left:10px;
}
.bird-descr-container .bird-info-blck {
    border:1px solid #94846e;
}
.bird-descr-container .bird-info-blck p {
    margin-top:10px;

}
.bird-descr-container .bird-info-blck .info-block-head {
    background-color:#94846e;
    color:#fff;
    text-align:center;
    line-height: 12px;
}
.bird-descr-container .bird-info-blck .info-block-body p{
    font-size:12px;
    text-align:center
}
.bird-descr-container .bird-info-blck.block-science .info-block-body p {
    text-align:left !important;
    padding:0 10px;
}
.bird-descr-container .bird-info-blck.block-science .info-block-body p .lbl {
    width:105px;
    text-align:right !important;
    display:inline-block;
    margin-right:10px;
}
.mejs-audio {
    margin-left:auto !important;
    margin-right:auto !important;
}
.bird-descr-container .bird-photo-tumbs {
    padding-top:2px;
    min-height:395px;
    height:557px;
    overflow: hidden;
}




/* big year */
.big-year-container {
  .big-year-text {
    i {
      color:#94846e;
    }
    p {
      margin-bottom:5px;
      font-size:14px;
      text-align:justify;
    }
    a{
      color:#90b444;
      text-decoration:underline;
    }
    a:hover{
      text-decoration:none;
    }
  }

  .blocks-content {
    .big-year-block-container {
      display:none;
    }
    .big-year-block-container.active-block {
      display:block;
    }
  }

  label {
    font-weight: normal;
  }

  .sub-nav-pils{
    a {
      display:inline-block;
      color:#94846e;
      padding-bottom:17px;
      cursor:pointer;
      font-size:19px;
      margin-right:5px;
    }
    a span {
      padding:10px 20px;
      display:block;
    }
    a.active, a:hover {
      color:#4d4d4d;
      background: asset-data-url('share/bg_arrow_down.png') no-repeat bottom 0 right 50%;
      text-decoration:none !important;
    }
    a.active span, a:hover span {
      background:#f7f7ed;
    }
  }

  .city-participant{
    .participant-left-blck {
      display: inline-block;
      width: 70px;
      float: left;
      text-align: right;
      font-size: 12px !important;
    }
    .participant-left-blck img {
      margin-left: 10px;
    }
    .participant-right-blck {
      display: inline-block;
      float: left;
      padding-left: 10px;
      font-size: 12px !important;
      color: #94846e;
    }
  }
  .big-year-participants .col-md-4 {
    padding-left: 0px;
    padding-right: 15px;
  }
}


/* birds map */
.map-img-container .col-md-2 {
    padding:0;
    margin-right:14px;
}
.map-img-container > .col-md-2:nth-child(6n) {
    margin-right:0;
}
.map-img-block {
    font-size:12px !important;
    max-width:163px !important;
    min-width:163px !important;
}
.map-img-block  .foot {
    color:#94846e !important;
}
.img-container-blck > div.head {
    background:transparent ;
    min-height: 50px ;
    max-height: 50px ;
    height: 50px ;
}
.img-container-blck > div.head > div:last-child {
    font-weight:normal;
    color:#4d4d4d;
    font-size: 11.5px;
}

.map-tag i {
    width:25px;
    height:30px;
    line-height:25px;
    vertical-align:middle;
    text-align:center;
    display:block;
    color:#fff;
    font-style:normal;
    font-size:16px;
    background: url('map/map_tag.png') no-repeat center 0;
}
.map-bird-info p{
    margin-bottom:0 !important;
    color:#94846e !important;
}
.map-bird-info h4{
    margin-bottom:5px !important;
}
.no-arrow:before {
    display:none !important;
}
.gmap-big {
    width:100%;
    height:610px;
}
.map_tag {
    color:#fff;
    padding-top:1px;
    text-align:center;
    position:absolute;
    width:30px;
    font-size:15px
}
.map-content  {
    display:block;
    padding:5px 0;
    min-width:250px;
}
.map-content > div {
    display:inline-block;
}
.map-content > div.map_left {
    max-width:55px;
}
.map-content > div.map_right {
    font-size:11px;
    padding-left:10px;
}
.map-content > div.map_right p {
    margin:0;
}
.add-comment-form.map-form {
    padding:25px 20px 12px 20px !important;
}
.map-form > div > .col {
    padding:0;
    margin-top:10px;
}
.map-form > div:last-child > .col:last-child {
    margin-top:0;
}
.map-form .date.input-group {
    width:125px;
    display:inline-table;
    margin-top: -8px;
}
.map-img-container .map-img-block .body img{
    max-width:163px !important;
}


/* SEARCH */
.search-results li {
    font-size:16px;
    line-height:25px;
}



/* BIRDS LIST */
.birds-list-container > ol > .row > .col-md-6 {
    padding-left:20px !important;
    padding-right:20px !important;
}
.birds-list-container li, .birds-list-container li:before {
    font-size:14px;
}

.birds-class-subtitle {
    display:block;
    line-height:27px;
    font-size:16px;
}
.birds-class-title-container {
    color:#94846e;
    line-height:35px;
    font-size:19px;
}




/* PHOTO Unknown */
.bird-photo-unknown-social {
    padding-top:17px !important;
}



/* about */
.about-text i.pre-text {
    color:#94846e;
    font-size:15px;
}
.about-text a {
    text-decoration:underline;
}
.about-text a:hover {
    text-decoration:none;
}
.about-text a, .about-text a:hover {
    color:#90b444
}
.site-stat-info-blck {
    border: 1px solid #94846e;
}
.site-stat-info-blck .info-block-head {
    background-color: #94846e;
    color: #fff;
    text-align: center;
    line-height: 12px;
}
.site-stat-info-blck p {
    margin-top: 10px;
    font-size:14px;
}
.site-stat-info-blck p .lbl {
    width: 220px;
    text-align: right !important;
    display: inline-block;
    margin-right: 10px;
}
.site-stat-info-blck .info-block-head p{
    font-size:16px !important;
}



/* LOGIN and REGISTRATION */
.login-registration-container > .col-md-7 {
    width:600px;
}
.reg-form-cntainer .col-md-3, .reg-form-cntainer .col-md-2 {
    padding-left:0 !important;
    padding-right:0 !important;
}
.reg-form-cntainer .col-md-6, .reg-form-cntainer .col-md-8{
    padding-left:8px !important;
    padding-right:8px !important;
}
.reg-form-cntainer input[type="text"], .reg-form-cntainer input[type="password"], .reg-form-cntainer input[type="email"] {
    height:30px !important;
}
.reg-form-cntainer {
    background: asset-data-url('reg_login/reg_bg.jpg') no-repeat #edf2f0 ;
    width:600px;

    padding:30px 0 10px 0;
}
.login-form{
    background: asset-data-url('reg_login/login_bg.jpg') no-repeat #edf2f0 !important;
    width:454px !important;
    margin:0 auto !important;
    min-height:300px;
    padding:30px 10px 0;
}
.lbl-container {
    text-align:right;

}
.reg-form-cntainer .row {
    margin-bottom:20px;
}
.reg-form-cntainer.login-form .row {
    margin-bottom:30px;
}
.reg-form-cntainer  .btn-lg {
    padding:7px 16px !important;
}
.reg-form-cntainer .btn-success {
    padding:3px 12px !important;
    margin-top:2px;
}
.lbl-container label{
    line-height:30px;
    height:30px;
    vertical-align:middle;
    font-size: 13.5px;
    font-weight: 500;
    padding-right:0;
}

.input-container label{
    font-size: 13.5px;
    font-weight: 500;
}
.reg-form-cntainer span.req {
    font-size: 13.5px;
    font-weight: 500;
    margin-top:-3px;
    position:absolute;
}
.fb-login {
    height:34px;
    line-height:34px;
    vertical-align:middle;
    padding-left:40px;
    background:asset-data-url('reg_login/fb_reg_logo.png') no-repeat;
    display:block;
}
@media (max-width: 767px) {
    .lbl-container {
        text-align:left;
    }
    span.req {
        display:none;
    }
    .reg-form-cntainer {
        padding:30px 10px 10px 10px;
    }
    .login-registration-container > .col-md-7 {
        width:auto;
    }
}
.reg-form-cntainer .input-group-addon {
    cursor:pointer;
}
.reg-form-cntainer a.fb-login {
    text-decoration:underline;
}
.reg-form-cntainer a.fb-login:hover {
    text-decoration:none;
}



/* PROFILE */
.profile-container {
  .sub-nav-pils {
    a {
      display:inline-block;
      color:#94846e;
      padding-bottom:17px;
      cursor:pointer;
      font-size:19px;
      margin-right:5px;
    }
    a span {
      padding:10px 20px;
      display:block;
    }
    a.active, a:hover {
      color:#4d4d4d;
      background: asset-data-url('share/bg_arrow_down.png') no-repeat bottom 0 right 50%;
      text-decoration:none !important;
    }
    a.active span, a:hover span {
      background:#f7f7ed;
    }
  }

  .profile-info-block {
    a {
      font-size: 14px;
    }
    .col-md-4 {
      padding-left:0 !important;
    }
    .col-md-8{
      padding-left:15px !important;
    }
    input[type="text"], input[type="email"], input[type="password"] {
      color: #94846e;
      height: 30px;
    }
    label {
      line-height: 30px;
    }
    .input-group{
      border-bottom: 1px solid #9d9e98;
      margin-left: 20px;
    }
    #subscribe_data label {
      line-height: 16px;
    }
    .change-image {
      font-size:14px;
      margin-top:10px;
      cursor:pointer;
    }
    .profile-user-data {
      padding:0 !important;
      img{
        margin-right:15px;
      }
    }
    .profile-stat-data {
      height:79px;
      padding-top:20px !important;
      p {
        color:#94846e;
        font-size:14px;
      }
      a {
        color:#90b444;
        text-decoration:underline;
      }
      a:hover {
        color:#90b444;
        text-decoration:none;
      }
    }
    .profile-user-icons {
      padding: 12px 0 0 20px !important;
      img {
        margin: 8px
      }
    }
  }

  .profile-species-block li a {
    font-size: 14px;
  }

  .blocks-content .profile-block-container {
    display:none;
    &.active-block {
      display: block;
    }
    label {
      font-weight: normal;
    }
    .birds-pagination {
      padding-right: 76px;
    }
  }

  span.req {
    font-size: 13.5px;
    font-weight: 500;
    margin-top:-3px;
    margin-left:5px;
    position:absolute;
  }

  .pagination-block {
    float: right;
  }

  .profile-comments-block {
    padding-right:40px;

    p.row-comment {
      line-height:12px;
    }
    .comment-holder {
      max-width:75%;
    }
    .comment-time-container {
      font-size:12px;
      line-height:12px;
      position:absolute;
      right:35px;
      color: #94846e;
      &.without-delete{
        right:12px;
      }
    }
    .comments-container {
      .delete-comment-container {
        top:0 !important;
      }
      .comment-row {
        height: 30px;
        border-bottom: 1px solid #e5e5da;
        margin-top:6px;
        margin-bottom:6px;
        padding-top: 5px;
      }
      .delete-comment-container {
        position:absolute;
        right:0;
        top: 15px
      }
    }
  }

  .profile-birds-block, .profile-drafts-block {
    a.delete_user_bird {
      position:absolute;
      display: block;
      left:76%;
      top:33%;
      width: 24px;
      height: 19px;
      background:asset-data-url('share/edit/delete_icon.png') no-repeat;
      opacity: 0.8;
      cursor:pointer;
    }
    a.delete_user_bird:hover {
      background:asset-data-url('share/edit/delete_icon_hover.png') no-repeat;
      opacity: 1;
    }

    a.edit_user_bird {
      position:absolute;
      display: block;
      left:76%;
      top:87.5%;
      width: 24px;
      height: 19px;
      background:asset-data-url('share/edit/edit-pen.png') no-repeat;
      opacity: 0.8;
      cursor:pointer;
    }
    a.edit_user_bird:hover {
      background:asset-data-url('share/edit/edit-pen-hover.png') no-repeat;
      opacity: 1;
    }
  }
}


.mobile-blocks-nav {
    display:none;
}




/* People */
.users-container {
  .users-text {
    i {
      color: #94846e;
    }
    p {
      margin-bottom: 5px;
      font-size: 14px;
      text-align: justify;
    }
    a {
      font-size: 14px;
      color: #94846e;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
