.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.big-year-container.mtop20.content-container
      .col-sm-12.col.col-md-12
        %h3 Список видов птиц Узбекистана
        .row.birds-list-container.mtop20
          %ol
            .row
              .col.col-md-8.col-sm-12

                -@orders.each do |order|
                  .row.birds-class-title-container= order.name_ru
                  .row.birds-class-list-container
                    .col.col-md-3.col-sm-3.birds-class-img
                      =image_tag order.image.url
                    -order.families.each do |family|
                      .col.col-md-9.col-sm-9.birds-class-list
                        %span.birds-class-subtitle
                          %i= family.name_ru
                        - family.main_species.each do |species|
                          %li=link_to species.full_name, species_path(species)
