.col-sm-6.col-md-2.map-img-block.xs-align-center.img-container-blck.profile-bird-container
  .head.map-adr-tag{data: {bird_id: "#{bird.id}"} }
    .blck.map-tag
      %i= number
    .blck
      = bird.address_string.to_s.slice(0, 38)
  .body
    =link_to bird_path(bird) do
      = image_tag bird.photo.thumb.url, class: 'img-responsive'
    -if bird.user.current?(current_user)
      =link_to '', '#', class: 'delete_user_bird', data: {id: bird.id}, title: 'Удалить фотографию'
      =link_to '', edit_species_bird_path(bird), class: 'edit_user_bird', data: {id: bird.id}, title: 'Редактировать фотографию'
  .foot
    .blck
      =link_to bird.user.full_name.slice(0, 28), profile_path(bird.user)
      %p=date_format(bird.timestamp)
